* {
	margin: 0;
}

body {
	width: 1200px;
	margin:0 auto;
}

.page-wrap{
	margin:0 auto;
	width: 95%;
	position: relative;
}


a {
	text-decoration: none;
	color: black;
}

ul{
   list-style:none;
   padding-left:0px;
}

@media screen and (min-width: 720px) and (max-width:1200px){
	body {
		width: 95%;
	}
}


